<!DOCTYPE html>
<html lang="en">

  <header>
    <title>TinyApp Exercise</title>
  </header>

  <body leftmargin="100px", topmargin="100px" style="font-size:20px; padding:50px;">

    <% if (user) { %>
      <form action="/logout" method="POST">
        <label for="email">You are logged in as: <%= user.email %></label>
        <input type="submit" value="Log Out">
      </form>
    <% } else { %>
      <label for="email"> You are not currently logged in</label>
      <button type="button"><a href="/login">Login</a></button>
      <button type="button"><a href="/register">Register</a></button>

    <% } %>

    <br >

  </body>

</html>

