<!DOCTYPE html>
<html lang="en">

  <header>
    <title>TinyApp Exercise</title>
  </header>

  <body leftmargin="100px", topmargin="100px" style="font-size:20px; padding:50px;">

    <h3> TinyApp Login Page </h3>

    <br >

      <form action="/login" method="POST">
        <label for="email">Enter Email Address :</label>
        <input type="email" name="email" required>
        <br >
        <label for="password">Enter Password:</label>
         <input type="password" name="password" required>
         <input type="submit" value="Login">
      </form>


  </body>

</html>