<!DOCTYPE html>
<html lang="en">

  <header>
    <title>TinyApp Log In Page</title>
  </header>

  <body leftmargin="100px", topmargin="100px" style="font-size:20px; padding:50px;">

    <h4> TinyApp Login Page </h4>

    <br >

      <form action="/login" method="POST">
        <label for="email">Enter Email Address:</label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br >
        <label for="password">Enter Password:</label>
         <input type="password" placeholder="Enter Password" name="password" required>
         <input type="submit" value="Login">
      </form>

      <br >

    <form action="/register" method="POST">
         <h4>If you do not have a TinyApp account:
         Please use the form below to create a TinyApp account</h4>
         <br >
         <label for="email">Enter Email Address:</label>
         <input type="email" placeholder="Enter Email" name="email" required>
         <br >
         <label for="password">Enter Password:</label>
         <input type="password" placeholder="Enter Password" name="password" required>
         <input type="submit" value="Register Account">
    </form>


  </body>

</html>