<!DOCTYPE html>
  <html lang="en">
    <header>
      <title>Create an Account</title>
    </header>

    <body leftmargin="100px", topmargin="100px" style="font-size:20px; padding:50px;">

    <h1>Register an account with TinyApp</h1>
    <br >

    <form action="/register" method="POST">
         <h4>Please use the form below to create a TinyApp account</h4>
         <br >
         <label for="email"><b>Email</b></label>
         <input type="text" placeholder="Enter Email" name="email" required>
         <label for="password"><b>Password</b></label>
         <input type="password" placeholder="Enter Password" name="password" required>
         <input type="submit" value="Register Account">
    </form>

    </body>

  </html>