<!DOCTYPE html>
  <html lang="en">
    <header>
      <% include partials/_header%>
    </header>

    <body>

    <h4>Short & Long URLs</h4>

    <ul>
      <li> Short URL: <%= "/urls/" + shortURL %></li>
      <li> Long URL: <%= longURL %></li>
    </ul>


    </body>

  </html>