<!DOCTYPE html>
  <html lang="en">
    <header>
      <% include partials/_header%>
    </header>

    <body leftmargin="100px", topmargin="100px" style="font-size:20px; padding:50px;">

    <h1>Short URL &#8594; <%= shortURL %></h1>


    <form action="/urls/<%= shortURL%>/update" method="POST">
      <label for="longURL">Update</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://">
      <input type="submit" value="Update">
    </form>


    </body>

  </html>

