<!DOCTYPE html>
<html lang="en">

    <header>
      <% include partials/_header%>
    </header>


  <body>

    <table>
      <% for (var URL in urls) { %>
        <tr>
          <td><strong>Shortened URL &#8594;</strong> </td>
          <td><strong>Original URL</strong></td>
          <td><strong>Actions</strong></td>
        </tr>
        <tr>
          <td><%= URL%> &#8594; </td>
          <td><%= urls[URL] %> </td>
          <td>
            <a href="/urls/ <%= URL %>">Edit</a>
            <form method="POST" action="/urls/<%= URL %>/delete"><input type="submit" value="Delete"> </form>
          </td>
        </tr>
      <% }; %>

    </table>

  </br >
    <a href="/"> Generate Shortened URLS </a>


  </body>

</html>